<div class="jumbotron">
  <h1>WELCOME!</h1>
  <p class="lead">
    <span style="font-size: small" class="text-muted">
      This is a quick search to find the patient with device id</span>

    <input type="text" class="form-control" id="device-id" ng-model="device_id"
           placeholder="Enter Device ID">
  </p>
  <p><a class="btn btn-lg btn-primary"  ng-href="#/patient/{{device_id}}"><span class="glyphicon glyphicon-search"></span> Search</a></p>
</div>

<div class="row marketing">
  <h4>Search Patient</h4>
  <p>
    You can search the patients by their device ids
  </p>

  <h4>Add New Patient</h4>
  <p>
    You can add new patient easily with our user friendly forms
  </p>

  <h4>Assign Nurse</h4>
  <p>Choose which nurses should be responsible for which patients</p>
</div>
